* {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: slategray;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: whitesmoke;
  border-radius: 5px;
  width: 20%;
  padding: 20px;
}
.log {
  padding: 5px;
  width: 100%;
  color: white;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.input {
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  width: 100%;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.remember {
  font-size: x-small;
}
.checkbox1 {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.inputs .error {
  color: #ff3860;
  font-size: 6px;
}
.note {
  display: none;
}
@media (min-width: 500px) {
  .note {
    display: block;
  }
  .remember {
    font-size: medium;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headline {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .input {
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    width: 100%;
  }

  .inputs .error {
    color: #ff3860;
    font-size: 10px;
  }

  .checkbox1 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
  }
  .checkbox {
    cursor: pointer;
  }

  .button {
    border-top: 1px solid darkgray;
    padding-top: 20px;
    display: flex;
    align-items: center;
  }

  .log {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon {
    cursor: pointer;
  }
  .icon2 {
    cursor: pointer;
  }
  .icontoggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .match-pass {
    display: flex;
    flex-direction: row;
  }
  .pass {
    display: flex;
    flex-direction: row;
  }
}
